@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;


.privacy-policy-page {
    background: linear-gradient(120deg, v.$color4 0%, v.$color1 100%);
    min-height: 100vh;
    padding: 2rem;

    .policy-card {
      background-color: v.$color4;
      border-radius: 10px;
      padding: 2rem;
  
      .card-title {
        color: v.$color3;
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
  
      .card-text {
        font-size: 1.2rem;
        color: v.$color2;
        margin-bottom: 2rem;
      }
    }
  }
  
  // Responsive design
  @media (max-width: 768px) {
    .privacy-policy-page {
      padding: 1rem;
  
      h1 {
        font-size: 2rem;
      }
  
      .policy-card {
        padding: 1.5rem;
  
        .card-title {
          font-size: 1.5rem;
        }
  
        .card-text {
          font-size: 1rem;
        }
      }
    }
  }
  