@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;



.reset-password-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;

    .form-label {
      font-weight: bold;
    }
  
    .form-control {
      margin-bottom: 1.5rem;
      border: none;
      border-bottom: 2px solid v.$color3;
      border-radius: 0;
      box-shadow: none;
  
      &:focus {
        border-bottom-color: #333;
        box-shadow: none;
      }
    }
  
    .reset-password-button {
      background-color: v.$color1;
      border: none;
      width: 100%;
      padding: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
  
      &:hover {
        background-color: v.$color3;
      }
    }
  }
  