/* COMMON */
// $color1: #f49518;
$color1: #fedb2c;
// $color2: #292118;
$color2:  #685807;
// $color3: #3f2503;
$color3: #726d56;
$color4: white;

$color1-op-50: rgba($color1, 0.5);
$color1-op-30: rgba($color1, 0.3);
$color2-op-50: rgba($color2, 0.5);
$color2-op-10: rgba($color2, 0.1);
$color2-op-5: rgba($color2, 0.05);
$color3-op-50: rgba($color3, 0.5);
$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");

/* BOOTSTRAP */
$font-family-sans-serif: var(--font-montserrat);
$primary: $color1;
$secondary: $color3;
$success: $color3;
$light: $color3;
$navbar-light-color: $color3;
$navbar-light-hover-color: $color3;
$navbar-light-active-color: $color3;
$navbar-nav-link-padding-x: "1rem";
$nav-link-font-weight: 300;
