@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.header {
  background-color: v.$color1;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 1001;

  &__row {
    @include m.flex($ai: center);
  }

  &__logo,
  &__login {
    text-align: center;
  }

  &__menu {
    font-size: 1.2rem;
  }

  .header-nav {
    .navbar-collapse {
      @include m.flex($jc: space-between, $ai: center);
    }

    .navbar-toggler {
      margin: auto;
      color: v.$color1;
      border-color: v.$color3;
      background-color: v.$color4 !important;

      &:hover {
        background-color: v.$color1 !important;
        color: v.$color4;
        border-color: v.$color4;
      }
    }

    @media (max-width: 992px) {
      .navbar-collapse {
        display: none !important;
      }
    }
  }
}
