@use "../../styles/variables" as v;

.page-header {
  
  /* background-image: linear-gradient(90deg, v.$color1-op-30, v.$color2-op-50); */
  text-align: center;
  padding: 25px 0;
  font-weight: 700;
  color: v.$color2;
 
  text-transform: uppercase;  
  letter-spacing: 0.7rem;
 
}
